<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ktDomain" value="ktDomain" />
    <add key="ktApiToken" value="ktApiToken" />
    <add key="ktLoginId" value="ktLoginId" />
    <add key="ktLoginPassword" value="ktLoginPassword" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>
